fastapi==0.109.0
uvicorn==0.27.0
requests==2.31.0
pydantic-settings==2.1.0
SQLAlchemy==2.0.25
psycopg2==2.9.9
pytz==2024.1
openai==1.14.3
PyPDF2==3.0.1
postmarker==1.0
Jinja2==3.1.3
fastapi_versionizer==4.0.1
python-multipart=0.0.9
